
<div class="card shadow border-0 mt-4">
        
        <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Privacy Policy</h2>
                </div>
            </div>
        </div>
            <div class="card-body">
                <h4>Introduction</h4>
                <p>
            At LibraryWeb, we prioritize your privacy and are committed to protecting your personal information.
            This Privacy Policy outlines the types of data we collect, how we use and safeguard this information, and the rights you have in relation to your personal data.
            Our goal is to ensure transparency and build trust as you engage with our services.
            By understanding our practices, you can make informed decisions about your interactions with LibraryWeb.
                </p>

                <h4>Information We Collect</h4>
                <p>
                    We may collect and process the following information:
                    <ul>
                        <li>Personal identification information (Name, email address, phone number, etc.)</li>
                        <li>Usage data (e.g., books buyer, pages visited, time spent on the site)</li>
                        <li>Cookies and similar tracking technologies</li>
                    </ul>
                </p>

                <h4>How We Use Your Information</h4>
                <p>
                    We use the collected information to:
                    <ul>
                        <li>Provide and maintain our service</li>
                        <li>Notify you about changes to our service</li>
                        <li>Provide customer support</li>
                        <li>Monitor the usage of our service</li>
                        <li>Detect, prevent, and address technical issues</li>
                    </ul>
                </p>

                <h4>Your Rights</h4>
                <p>
                    You have the right to:
                    <ul>
                        <li>Access and update your personal information</li>
                        <li>Request deletion of your data</li>
                        <li>Object to the processing of your data</li>
                    </ul>
                </p>

                <h4>Contact Us</h4>
                <p>
                    If you have any questions about this Privacy Policy, please contact us at:
                    <strong>supportliabrary@gmail.com</strong>
                </p>
            </div>
            <div class="card-footer text-muted">
                Last updated: [Date]
            </div>
        
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

