@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div class="row pl-2 my-3">
    <p class="text-secondary lh-sm">Hello its me suman mishra</p>
    <p class="text-secondary lh-sm">Privacy Policy detail is coming soon...</p>
</div>